{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <div class="container-fluid"> -->
<div class="bg-img">
    <h1 class="text-center">Urban Wedding</h1>
    <p class="text-capitalize text-center">choose us for your wedding</p>
</div>
<!-- </div> -->

<div class="container">
    <h2 class="text-capitalize mt-5">weddings category</h2>
    <div class="row">
        <div class="col-lg-6 mt-3">
            <div class="shadow p-2 bg-white home-prod">
                <img src="{% static 'images/image-1.jpg' %}" alt="aaa" class="img-fluid flaot-right">
                <h4 class="text-capitalize">caterers <i class="fa fa-arrow-right" style="font-size: 1rem;"></i></h4>
                <p class="text-capitalize">indian food,south indian...</p>
                <a href="{% url 'caterer' %}" class="btn btn-outline-success ml-3">Explore</a>
            </div>
        </div>
        <div class="col-lg-6 mt-3">
            <div class="shadow p-2 bg-white home-prod">
                <img src="{% static 'images/image-1.jpg' %}" alt="aaa" class="img-fluid flaot-right">
                <h4 class="text-capitalize">venues <i class="fa fa-arrow-right" style="font-size: 1rem;"></i></h4>
                <p class="text-capitalize">banquet hall, lawns and all...</p>
                <a href="#" class="btn btn-outline-success ml-3">Explore</a>
            </div>
        </div>
        <div class="col-lg-6 mt-3">
            <div class="shadow p-2 bg-white home-prod">
                <img src="{% static 'images/image-1.jpg' %}" alt="aaa" class="img-fluid flaot-right">
                <h4 class="text-capitalize">Photographers <i class="fa fa-arrow-right" style="font-size: 1rem;"></i>
                </h4>
                <p class="text-capitalize">Photographers, Cinema/Video,...</p>
                <a href="#" class="btn btn-outline-success ml-3">Explore</a>
            </div>
        </div>
        <div class="col-lg-6 mt-3">
            <div class="shadow p-2 bg-white home-prod">
                <img src="{% static 'images/image-1.jpg' %}" alt="aaa" class="img-fluid flaot-right">
                <h4 class="text-capitalize">Makeup
                    <i class="fa fa-arrow-right" style="font-size: 1rem;"></i></h4>
                <p class="text-capitalize"> Bridal Makeup, Family Makeup...</p>
                <a href="#" class="btn btn-outline-success ml-3">Explore</a>
            </div>
        </div>
        <div class="col-lg-6 mt-3">
            <div class="shadow p-2 bg-white home-prod">
                <img src="{% static 'images/image-1.jpg' %}" alt="aaa" class="img-fluid flaot-right">
                <h4 class="text-capitalize">Bridal Wear
                    <i class="fa fa-arrow-right" style="font-size: 1rem;"></i></h4>
                <p class="text-capitalize">Bridal Lehengas, Kanjeevaram...</p>
                <a href="#" class="btn btn-outline-success ml-3">Explore</a>
            </div>
        </div>
    </div>
</div>
<!-- ------------------------------------------------------------------ -->
<!-- <div class="container-fluid mt-5" style="background:#d3d3d3;">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="text-center">UrbanWedding</h2>
        </div>
    </div>
</div> -->

{% endblock %}